
html {
  font-family: "Proxima Nova Rg", serif;
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.hidden,
[hidden] {
  display: none !important;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}


@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/* CUSTOM */

div, article, aside, header, nav, section {
  display: block;
}

body {
  background-color: #f1f1f1;
}

a {
  text-decoration: none;
  color: black;

}

a:active {
  color: gold;
}

a:hover {
  color: purple;
}

nav {
  display: flex;
  justify-content: flex-start;
  margin-left: 18%;
  white-space: nowrap;
}

.enter {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.enter-button {
  margin: 5px 10px;
}

#menu {
  display: flex;
  list-style-type: none;
  font-family: "Proxima Nova Rg", serif;
}

#menu > li {
  margin: 5px 10px;
}


#menu > li > a {
  font-size: 20pt;
}

#logo {
  display: block;
  height: 60px;
}

.page {
  margin-top: 15px;
  width: 100%;
  min-height: 100%;
}

.main {
  display: flex;
  justify-content: flex-start;
  margin-left: 18%;
  margin-right: 130px;
  height: 100%;
}

.content {
  height: 100vh;
  min-width: 600px;
  max-width: 850px;
  /*background-color: #b3d4fc;*/
  margin-right: 30px;
  height: 100%;
}

.side-bar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: 350px;
  max-width: 350px;
  /*background-color: brown;*/
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 10px 0 inset;
  height: 100px;
  width: 100%;
  color: #888888;
  margin-top: 30px;
  font-size: 10pt;
}

.side-card {
  display: block;
  /*
  padding: 15px;
  */
  margin-bottom: 20px;
}

.card-text {
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
}

.post-button {
  text-align: center;
  display: block;
  color: black;
  font-size: 16px;
  margin: 15px -15px -15px;
  padding: 15px 15px 15px;
  line-height: 1.6;
  background: #f5f5f5;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.request-button {
  text-align: center;
  display: block;
  color: #7d7d7d;
  font-size: 16px;
  /*margin: 15px -15px -15px;*/
  padding: 15px 15px 15px;
  line-height: 1.6;
  background: #f5f5f570;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  font-weight: 600;
}

.post-article {
  margin-top: 20px;
  margin-top: 20px;
  display: flex;
  position: relative;
}

.article-link {
  cursor: pointer;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 3;
}

.post-article-in {
  padding: 30px 30px 30px 50px;

}

.post-article-icon {
  min-height: 90px;
  background-color: #f8fcd9;
  min-width: 300px;
  position: relative;
  display: flex;
}

.post-title {
  padding-bottom: 20px;
  font-size: 14pt;
  font-weight: 600;
}

.box {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 2px 0px
}

.last-posts {
  padding: 5px 30px 15px 50px;
  margin-bottom: 20px;
  list-style-type: none;
}

.last-posts-links {
  overflow: hidden;
  line-height: 1.4;
  text-overflow: ellipsis;
  display: flex;
  padding: 5px;
  margin: -5px;
}

.time {
  margin-right: 8px;
  padding: 2px 0;
  color: #9d9d9d;
}

.last-posts-text {
  color: #5e003e;
}

.all-news {
  padding: 20px 15px 15px;
  margin: -8px -15px -15px;
  font-weight: 500;
  font-size: 11pt;
}

.pagination {
  margin: 25px;
  text-align: center;
  height: 39px;
}

.pagination-element {
  background: none repeat scroll 0 0 #fff;
  text-decoration: none;
  border-radius: 4px;
  margin-bottom: 10px;
  font-size: 18px;
  margin-right: 10px;
  padding: 5px 13px;
  display: inline-block;
}

.not-found {
  margin: 200px 100px 400px 100px;
  font-size: 40pt;
  font-weight: 1000;
  text-align: center;
  color: #00000047;
  text-shadow: 2px 2px 3px rgb(255, 255, 255);
}

#editControls {
  margin: 5px;
  padding: 5px;
  text-align: center;
}

#editor {
  border: 1px solid silver;
  border-radius: 5px;
  box-shadow: inset 0 0 10px #e3e3e3;
  min-height: 100px;
  overflow: auto;
  padding: 1em;
  resize: vertical;
}

a[data-role]:link,
a[data-role]:visited,
a[data-role]:hover,
a[data-role]:active {
  text-decoration: none;
}

a[data-role] {
  border: 1px solid silver;
  border-radius: 5px;
  color: black;
  padding: 5px;
  width: 1em;
}

#request-title {
  width: 100%;
  height: 40px;
  box-shadow: inset 0 0 10px #e3e3e3;
  border: 1px solid silver;
  border-radius: 5px;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
  box-shadow: inset 0 0 10px #e3e3e3;
  border: 1px solid silver;
  border-radius: 5px;
}

button {
  background-color: #58BB96;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
}

.detailBox {

}

.titleBox {
  background-color: #fdfdfd;
  padding: 10px;
}

.titleBox label {
  color: #444;
  margin: 0;
  display: inline-block;
}

.commentBox {
  padding: 10px;
  border-top: 1px dotted #bbb;
}

.commentBox .form-group:first-child, .actionBox .form-group:first-child {
  width: 80%;
}

.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
  width: 18%;
}

.actionBox .form-group * {
  width: 100%;
}

.taskDescription {
  margin-top: 10px 0;
}

.commentList {
  padding: 0;
  list-style: none;
}

.commentList li {
  margin: 0;
  margin-top: 30px;
}

.commentList li > div {
  display: table-cell;
}

.commenterImage {
  width: 50px;
  margin-right: 5px;
  height: 100%;
  float: left;
}

.commenterImage img {
  width: 100%;
  border-radius: 50%;
}

.commentText p {
  margin: 0;
}

.sub-text {
  color: #aaa;
  font-family: verdana;
  font-size: 11px;
}

.card-image {
  display: block;
  min-height: 20rem; /* layout hack */
  background: #fff center center no-repeat;
  background-size: cover;
  filter: blur(3px); /* blur the lowres image */
}

.card-image > img {
  display: block;
  width: 100%;
  opacity: 0; /* visually hide the img element */
}

.card-image.is-loaded {
  filter: none; /* remove the blur on fullres image */
  transition: filter 1s;
}


/* Layout Styles */

.card-list {
  display: block;
  margin: 1rem auto;
  padding: 0;
  font-size: 0;
  text-align: center;
  list-style: none;
}

.card {
  display: inline-block;
  width: 90%;
  max-width: 20rem;
  margin: 1rem;
  font-size: 1rem;
  text-decoration: none;
  overflow: hidden;
  box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, 0.5);
  transition: transform 0.1s ease-in-out, box-shadow 0.1s;
}

.card:hover {
  transform: translateY(-0.5rem) scale(1.0125);
  box-shadow: 0 0.5em 3rem -1rem rgba(0, 0, 0, 0.5);
}

.card-description {
  display: block;
  padding: 1em 0.5em;
  color: #515151;
  text-decoration: none;
}

.card-description > h2 {
  margin: 0 0 0.5em;
}

.card-description > p {
  margin: 0;
}

.play-btn {
  background: rgba(0, 0, 0, .55);
  width: 68px;
  height: 48px;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -24px 0 0 -34px;
  transition: background .15s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.play-btn-tri {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #fff;
}

@media only screen and (max-width: 1380px) {
  /* Style adjustments for viewports that meet the condition */
  .side-bar {
    display: none;
  }

  .main {
    margin-left: 5%;
    margin-right: 5%;
    justify-content: center;
  }

  .content {
    margin-right: unset;
    margin-left: unset;
  }

  nav {
    margin-left: unset;
    justify-content: center;
  }

  #logo {
  }

  #menu {
    padding-left: 0px;
  }

  .enter {
    width: 0%;
  }

  .enter-button {
    display: none;
  }

}
